/*
This is a CSS comment..

This file is used to style the elements of the HTML page that makes up the GUI [Graphical User Interface] for the eduROV
*/

.container {
    border: 5px solid blue;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 20px;
    height: 80vh;
}

.sidepanel {
    border: 5px solid black;
    border-radius: 5px;
    background-color: bisque;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.video {
    background-color:cadetblue;
    justify-content: center;
    /*align-items: center;*/
    flex-grow: 2;
}
.video img{
    justify-content: center;
    width:auto;
    height: 100%;
}